# dependencies
node_modules/
.pnp
.pnp.*

# vite
dist/
dist-ssr/
*.local
.vite/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
!.env.example

# types
src/types/database.generated.ts

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# supabase local
supabase/.temp/
supabase/.branches/